/* Below 1248px */

@media (max-width: 78em){
    .hero{
        max-width: 110rem;
    }
    .heading-primary{
        font-size: 3.8rem;
    }
}

/* Below 1100px */
@media (max-width: 68.75em){
    html{
        /* 9px / 16px  */
        font-size: 56%;
    }
    .heading-secondary{
        font-size: 2.8rem;
    }
    .heading-tertiary{
        font-size: 2.1rem;
    }
    .grid{
        column-gap: 3.6rem;
        row-gap: 6.4rem;
    }
    .header{
        padding: 0 3.2rem
    }
    .hero{
        gap: 5rem
    }
    .main-nav-list{
        gap: 2.5rem;
    }
    .testimonial-container{
        padding: 9rem 3.2rem;
    }
}

/* Below 795px */
@media (max-width: 49.68em){
    html{
        font-size: 50%;
    }
    .hero{
        grid-template-columns: 1fr;
        padding: 0 6.8rem;
    }
    .hero-img{
        width: 50%;
    }
    .hero-text-box,
    .hero-img-box{
        text-align: center;
    }
    .delivered-meals{
        justify-content: center;
        margin-top: 3rem;
    }
    .logos img{
        height: 1.8rem;
    }
    .step-number{
        font-size: 6.6rem;
    }
    .meal-content{
        padding: 1.8rem 2rem 2rem 2rem;
    }
    .section-testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(6,1fr);
    }
    .cta{
        grid-template-columns: 3fr 2fr;
    }
    .cta-form{
        grid-template-columns: 1fr;
    }
    .btn--form{
        margin-top: 0.5rem;
    }
    .cta-text-box{
        padding: 3rem 5rem 5rem 5rem;
    }

    .btn-mobile-nav{
        display: block;
        z-index: 100;
    }
    .main-nav{
        background-color: rgb(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        /* hide navigation
        allows no transition at all
        display: none; */

        /* 1) Hide it visually */
        opacity: 0;

        /*  2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;
        /* 3) Hide it from screen readers */
        visibility: hidden;
    }
    .main-nav-list{
        flex-direction: column;
        gap: 3.6rem;
    }
    .main-nav-link:link, 
    .main-nav-link:visited{
        font-weight: 500;
        font-size: 2.4rem;
    }
    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-outline"]{
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }
}

/* Below 600px */
@media (max-width: 37.5em){
    .grid--3-cols, .grid--4-cols{
        grid-template-columns: repeat(2, 1fr);
    }
    .diets{
        grid-column: 1/-1;
        justify-self: center;
    }
    .heading-secondary{
        margin-bottom: 4rem;
    }
    .pricing-plan{
        width: 100%;
    }
    .grid--footer{
        grid-template-columns: repeat(6, 1fr);
    }
    .nav-col{
        grid-row: 1;
        grid-column: span 2;
    }
    .address-col, .logo-col{
        grid-column: span 3;
    }
}

/* Below 450px */
@media (max-width: 28.12em){
    .grid--2--cols, .grid--3-cols, .grid--4-cols{
        grid-template-columns: 1fr
    }
    .grid{
        gap: 4rem;
    }
    .hero{
        padding: 0 2rem;
    }
    .section-hero{
        padding: 2rem 0 3rem 0;
    }
    .btn ,.btn:link, .btn:visited {
        padding: 1.2rem 1.2rem;
    }
    .hero-img{
        width: 75%;
    }
    .logos img{
        height: 0.9 rem;
    }
    .step-img-box:nth-child(2){
        grid-row: 1;
    }
    .step-img-box:nth-child(6){
        grid-row: 5;
    }
    .step-img-box{
        transform: translateY(2rem);
    }
    .testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(4,1fr);
    }
    .cta{
        grid-template-columns: 1fr;
    }
    .cta-img-box{
        height: 20rem;
        grid-row: 1;
    }
    .cta-text-box{
        padding: 2.2rem;
    }
}